$white: hsl(0, 0%, 100%);
$dark: hsl(230, 35%, 7%);
$light: hsl(231, 77%, 90%);
$dark-85: hsl(230 35% 7% / 0.85);
$white-50: hsl(0 0% 100% / 0.5);
$white-17: hsl(0 0% 100% / 0.17);

$breakpoint-sm: 35rem;
$breakpoint-md: 45rem;
$breakpoint-lg: 65rem;